@model Product

<div class="card border-0 shadow position-relative">
    <div class="card-header text-center text-light bg-secondary bg-gradient">
        <h2>Create product</h2>
    </div>

    <div class="card-body">
        <form method="post">
            <div class="form-floating border-0 shadow py-2">
                <input asp-for="Title" class="form-control" />
                <label asp-for="Title"></label>
            </div>

            <div class="form-floating  border-0 shadow py-2">
                <input asp-for="Author" class="form-control" />
                <label asp-for="Author"></label>
            </div>

            <div class="form-floating  border-0 shadow py-2">
                <textarea asp-for="Description" class="form-control"></textarea>
                <label asp-for="Description"></label>
            </div>

            <div class="form-floating border-0 shadow py-2">
                <input asp-for="ISBN" class="form-control" />
                <label asp-for="ISBN"></label>
            </div>

            <div class="form-floating border-0 shadow py-2">
                <input asp-for="ListPrice" class="form-control" />
                <label asp-for="ListPrice"></label>
            </div>

            <div class="form-floating border-0 shadow py-2">
                <input asp-for="Price" class="form-control" />
                <label asp-for="Price"></label>
            </div>

            <div class="form-floating border-0 shadow py-2">
                <input asp-for="Price50" class="form-control" />
                <label asp-for="Price50"></label>
            </div>

            <div class="form-floating border-0 shadow py-2">
                <input asp-for="Price100" class="form-control" />
                <label asp-for="Price100"></label>
            </div>

            <div class="row py-2 d-flex justify-content-center">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control ">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control border">Go back</a>
                </div>
            </div>
        </form>
    </div>
</div>