@model Product

<div class="card border-0 shadow">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 ">
        <h2 class="text-center text-light">Edit product</h2>
    </div>

    <div class="card-body p-4">
        <form method="post">
            <div class="p-3">
                <div class="form-floating border-0 shadow mb-3">
                    <input asp-for="Description" hidden/>
                    <input asp-for="ISBN" hidden/>
                    <input asp-for="ListPrice" hidden/>
                    <input asp-for="Price50" hidden/>
                    <input asp-for="Price100" hidden/>
                    <input asp-for="Id" hidden/>
                    <input asp-for="Price" hidden/>
                    <input asp-for="CategoryId" hidden/>
                    <input asp-for="Title" class="form-control" />
                    <label asp-for="Title"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-floating border-0 shadow">
                    <input asp-for="Author" class="form-control" />
                    <label asp-for="Author"></label>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="row py-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control ">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Customer" asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control border">Go back</a>
                    </div>
                </div>
            </div>
           
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
