@model int

<li class="nav-item">
    <a class="nav-link" asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index">
        <span style="font-weight:bold;">
            <i class="bi bi-cart"></i> &nbsp; ( @Model )
        </span>
    </a>
</li>